@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Piedra&display=swap');

body { background-color: mediumorchid;
    color: whitesmoke;
    font-family: 'Amatic SC', cursive;
    font-size: larger;
}

ul  { 
    font-size: xx-large ;

}
ol {
    font-size: xx-large;
}
